* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:rgb(99, 165, 219);
  }

  /* FOR NAVBAR */
  
  .nav {
    overflow: hidden;
    background-color: #3090eb;
    position:fixed;
    top:0;
    width:100%;
  }
  
  .nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #0407aa;
    color: white;
  }

  .nav_topic{
      font-size:30px;
      color: #0407aa;
      padding: 14px 16px;
      background-color: #3090eb;
  }

  .content{
      text-align: center;
      align-items: center;
      justify-content: center;
      padding-top:40px;
  }

  h1{
      color:white;
  }

  img{
      width:200px;
      height: 200px;
      border-radius: 50%;
  }


  * {
    box-sizing: border-box;
  }


  /* FOR FORM */
  
  input[type=text], input[type=number],input[type=email],input[type=date],input[type=url], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
    color:white;
  }
  
  input[type=submit] {
    background-color:#f06f12 ;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: none;
    margin-top:20px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 15%;
    margin-top: 6px;
    margin-left: 0px;
  }
  
  .col-75 {
    float: left;
    width: 85%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 20px;
    }
  }
 

/* for tables */

.lecturers,.clubs,.courses,.departments {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .lecturers td,.clubs td, .lecturers th,.clubs th,.courses td,.courses th,.departments td,.departments th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .lecturers tr:nth-child(even){background-color: #f2f2f2;}
  .clubs tr:nth-child(even){background-color: #f2f2f2;}
  .courses tr:nth-child(even){background-color: #f2f2f2;}
  .departments tr:nth-child(even){background-color: #f2f2f2;}

  
  .lecturers tr:hover {background-color: #ddd;}
  .clubs tr:hover {background-color: #ddd;}
  .courses tr:hover {background-color: #ddd;}
  .departments tr:hover {background-color: #ddd;}


  
  .lecturers th,.clubs th,.courses th,.departments th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0407aa;
    color: white;
  }

  /* FOR FOOTER */

  .footer{
      margin-top:300px;
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #3090eb;
  }

  .footer_contact{
      font-size:25px;
      color:#0407aa;
  }

  .footer_btn{
      border-radius: 25%;
      background:#f06f12;
      font-size: 18px;
      color:white;
      cursor:pointer;
  }